# 忽略simulink仿真过程临时文件
src/slprj/
src/*.slxc
src/*.asv
src/classes/*.asv
src/tools/*.asv
src/*.gif
*.autosave
src/simulink/v1.0/*.slxc
src/simulink/v1.0/slprj/
src/simulink/v2.0/*.slxc
src/simulink/v2.0/slprj/

# 暂时忽略solidworks模型文件
model/

# 忽略vscode配置文件
.vscode/

# 暂时忽略others文件夹
others/

# 暂时忽略md文件
*.md